<h1><%= @event.name %></h1><br />
<h2>date: <%= @event.event_date %></h2><br />
<h3>location: <%= @event.location %></h3><br /><br />

<span style="border: black solid 1px;">
  DETAILS:  <%= @event.details %>
</span>
